* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 20%;
    margin-top: 10px;
}

.card {
    width: 200px;
    height: 250px;
    /* border: 0.5px solid #000; */
    border-radius: 20px;
    -webkit-box-shadow: 7px 9px 33px -3px rgba(255,111,0,1);
    -moz-box-shadow: 7px 9px 33px -3px rgba(255,111,0,1);
    box-shadow: 7px 9px 33px -3px rgba(255,111,0,1);
}

.card__image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    position: relative;
}

.card__title {
    font-weight: bold;
}

.card__name {
    font-weight: normal;
}

.card__status {
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
}

.success {
    background-color: #27ae60;
}

.danger {
    background-color: #c0392b;
}

.primary {
    background-color: #f39c12;
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

main {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 10px;
}

#navbar {
    background-color: #2980b9;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}

#title {
    color: #fff;
}

.btnNew {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #fff;
}

#form__container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form input {
    border: none;
    background-color: #bdc3c7;
    padding: 5px 10px;
    font-size: 1.1rem;
    outline: none;
}

#form p {
    font-size: 1.1rem;
}

.hidden {
    display: none !important;
}

input {
    border-radius: 8px;
}

input:active {
    color: grey;
}

.card:hover {
    border: black solid 1px;
}

.btnNew:hover {
    opacity: 0.8;
}

figure button{
    position: absolute;
    z-index: 1;
    filter: blur(0.5px);
    background-color: transparent;
    margin: 3px auto auto 180px;
    border-style: none;
    font-size: 20px;
    color: rgb(7, 138, 14);
    cursor: pointer;
}
figure button:hover{
    color: rgb(255, 57, 57);
}
#filters{
    background-color: transparent;
    border-style: none;
    margin: 10px;
}
#filters:focus{
    background-color: orange;
    outline: none;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
}